@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-quicksand: "Quicksand", sans-serif;
}

@media (max-width: 767px) {
  .sndExp {
    display: none !important;
  }
  .sndExp2 {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .sndExp2 {
    display: none !important;
  }
  .sndExp {
    display: block !important;
  }
}

html {
  scroll-behavior: smooth;
}

/* * {
  overflow: hidden;
} */
